.lacrosse-bg {
    background-image: url('../assets/images/lacrosse-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.tennis-bg {
    background-image: url('../assets/images/tennis-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: white;
}
